<a href="http://twitter.com/yviktorov">Recent Tweets</a>
<div id="tweets">
 <p>Please wait while my tweets load <img src="/images/indicator.gif" /></p>
 <p><a href="http://twitter.com/yviktorov">If you can't wait - check out what I've been twittering</a></p>
</div>

<script type="text/javascript" src="/js/twitter-1.12.2.min.js">
</script>

<script type="text/javascript">
getTwitters('tweets', {
  id: 'yviktorov',
  count: 5,
  enableLinks: true,
  clearContents: true,
  template: '%text%'
});
</script>
