---
layout: default
title: Magento related posts
---

{% for post in site.categories.magento %}
    {% include posts-list.html %}
{% endfor %}

<div>
<h2>What is magento?</h2>
<p><b>Magento</b> is an <a href="http://en.wikipedia.org/wiki/Open_Source" title="Open Source" class="mw-redirect">Open Source</a> <a href="http://en.wikipedia.org/wiki/Ecommerce" title="Ecommerce" class="mw-redirect">ecommerce</a> web application launched on March 31, 2008. It was created by Varien, building on components of the <a href="http://en.wikipedia.org/wiki/Zend_Framework" title="Zend Framework">Zend Framework</a>.</p>

<h3>Website</h3>
<p><a href="http://www.magentocommerce.com/">www.magentocommerce.com</a></p>
</div>
