<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>{% if page.title %}{{ page.title }} :: {% endif %}Yevgeniy Viktorov's blog</title>

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="title" content="{% if page.title %}{{ page.title }}{% else %}Yevgeniy Viktorov's blog{% endif %}" />
{% if page.keywords %}<meta name="keywords" content="{{ page.keywords | array_to_sentence_string }}" />{% endif %}
{% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
<meta name="robots" content="index, follow" />
<meta name="language" content="en" />

<meta name="author" content="Yevgeniy A. Viktorov" />
<meta name="verify-v1" content="AvGJF0A/6q+WVf/720gbEqqjdT1Ippa5F8djfUQ4t6M=" />

<link href="/css/main.css" rel="stylesheet" type="text/css"/>
<!--[if lte IE 7]>
<link href="/css/patches/patch_main_layout.css" rel="stylesheet" type="text/css" />
<![endif]-->

<link href="/css/syntax.css" rel="stylesheet" type="text/css" />

<link rel="shortcut icon" href="/favicon.ico" />

<link href="http://feeds2.feedburner.com/wik" rel="alternate" title="Yevgeniy Viktorov" type="application/atom+xml" />

</head>
<body>
  <div id="page_margins">
    <div id="page">
      <div id="header">
        <div id="topnav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog.html">Blog</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/projects.html">Projects</a></li>
            </ul>
        </div>
      </div>

      <div id="main">
        <div id="col1">
          <div id="col1_content" class="clearfix">

{% if page.title %}
 <h1>{{ page.title }}</h1>
{% endif %}

{{ content }}

          </div>
        </div>
        <div id="col3">
          <div id="col3_content" class="clearfix">

            <div id="sidebar">
                <div id="feed">
                    <a class="feed-button" href="http://feeds2.feedburner.com/wik">&nbsp;</a>
                </div>
                <ul>
                    <li><a href="/tags/symfony.html">symfony</a></li>
                    <li><a href="/tags/magento.html">magento</a></li>
                    <li><a href="/tags/other.html">other</a></li>
                </ul>

                <div style="text-align:center;padding:10px 0px 0px 5px;">
                    <a href="http://twitter.com/yviktorov" target="_blank" title="Follow me on twitter"><img src="/images/twitter3gif.gif" border="0" alt="Follow me on twitter" /></a>
                    <br/><br/>
                    <!-- START Hire Me on oDesk Widget -->
                    <p style="text-align: center;">
                    <a target="blank" href="http://www.odesk.com/users/PHP-Web-Developer-with-Ajax-experience_~~ee8864b1729661d3?wsrc=btn_1&wlnk=btn"><img src="/images/hire_me_button.gif" alt="Hire Me!" style="margin: 0pt auto; border: 0px;"></a>
                    </p>
                    <!-- END Hire Me on oDesk Widget -->
                    <!-- Facebook Badge START -->
                    <a href="http://www.facebook.com/people/Yevgeniy-Viktorov/100000069440566" title="Yevgeniy Viktorov" target="_TOP"><img src="http://badge.facebook.com/badge/100000069440566.786.1223515465.png" alt="Yevgeniy Viktorov" style="border: 0px;" /></a>
                    <!-- Facebook Badge END -->
                    <br/><br/>
                    <a href='https://www.ohloh.net/accounts/28732?ref=Tiny'>
  <img alt='Ohloh profile for Yevgeniy A. Viktorov' height='15' src='https://www.ohloh.net/accounts/28732/widgets/account_tiny.gif' width='80' /></a>
                    <br/><br/>
                    <a href="http://pif.dn.ua" target="_blank" title="Приют для бездомных животных «ПИФ», г. Донецк, Украина"><img src="http://pif.dn.ua/img/knopka1.gif" border="0" height="31" width="88" alt="Приют для бездомных животных «ПИФ», г. Донецк, Украина" /></a>
                </div>

                <div id="sidebar-bottom">
                    &nbsp;
                </div>
            </div>
          </div>
          <!-- IE Column Clearing -->
          <div id="ie_clearing"> &#160; </div>
        </div>
      </div>
    </div>
  </div>

<!-- begin: #footer -->
<div id="footer">
    <div class="copyright">
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0;position:relative;top:4px;" src="http://creativecommons.org/images/public/somerights20.png" /></a>
    </div>

    <div class="developer">
        Layout based on <a href="http://www.yaml.de/"><img src="http://yaml.de/fileadmin/img/yaml_base.gif" alt="based on YAML" style="position: relative; top: 5px;" border="0" /></a>
    </div>
</div>
<!-- end: #footer -->
<div id="footer_bg">&nbsp;</div>

{% include google-analytics.html %}

</body>
</html>
